
{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-auto pt-4">
    <div class="directoryheading">
      <h1 class="display-4 p-3">Plant Species</h1>
    </div>
  </div>
</div>



<div class="row">

  {% for plant in plantpairs %}

      <div class="col-3 text-center my-auto py-3">
        <div class="speciesbutton py-2">
          <a class="specieslink h4" href="{{ url_for( 'plantfunc', num=plant[0] ) }}">{{ plant[1] }}</a>
        </div>
      </div>

  {% endfor %}

</div>


<div class="row mx-auto py-3">
  <div class="col text-center p-2">
    <a class="btn btn-block" href="{{ url_for( 'index' )}}" role="button">Return to the homepage</a>
  </div>
</div>






{% endblock %}
